<div class="titulo">    
    <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
    <h1 mat-dialog-title>
        <span>Edicción de Tours</span>
    </h1>
</div>
<mat-dialog-content class="contenedor">  

    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="tour.nombre">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Precio</mat-label>
        <input matInput [(ngModel)]="tour.precio">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Departamento</mat-label>
        <input matInput [(ngModel)]="tour.departamento">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Lugar</mat-label>
        <input matInput [(ngModel)]="tour.lugar">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Disponibilidad</mat-label>
        <input matInput [(ngModel)]="tour.c_disponibilidad">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Min. Edad</mat-label>
        <input matInput [(ngModel)]="tour.n_edad_min">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Max. Personas</mat-label>
        <input matInput [(ngModel)]="tour.n_person_max">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Tipo Tour</mat-label>
        <input matInput [(ngModel)]="tour.n_id_tipo_tour">
    </mat-form-field>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button button mat-stroked-button color="error" mat-dialog-close>Cancel</button>
    <button button mat-stroked-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>
