<div id="contenido">   
    <div id="inicio" style="height: 680px; width: 100%;">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <div class="contenedor-imagen">
                        <img src="../../../../../assets/machupicchu.jpeg" class="d-block w-100" alt="..." height="680"> 
                    </div>                        
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Machu Picchu</h5>
                        <p>El Santuario Histórico de Machu Picchu se ubica en la provincia de Urubamba</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="contenedor-imagen">
                        <img src="assets\arequipa.jpg" class="d-block w-100" alt="..." height="680">
                    </div>                        
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Arequipa</h5>
                        <p>Arequipa es conocida como la Ciudad Blanca debido a su arquitectura construida con piedra volcánica blanca.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="contenedor-imagen">
                        <img src="assets\amazonas.jpg" class="d-block w-100" alt="..." height="680" >
                    </div>                        
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Amazonas</h5>
                        <p>La selva amazónica es la selva tropical más grande del mundo.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div id="seccion2" class="servicios">

        <div class="contenido-inicio">

            <div class="descripcion-inicio">
                <div class="descripcion-inicio2">
                    <span>
                        <b>¡Vive una aventura inolvidable en Perú y descubre las maravillas naturales y culturales de este hermoso país!</b>
                        Reserva nuestros exclusivos paquetes de viaje y haz realidad tu sueño de explorar Perú.
                        <br>
                        Aquí entendemos que tu aventura por Perú y el mundo debe ser mucho más que un simple viaje. Por eso, nuestro selecto equipo de profesionales del turismo ha diseñado los mejores programas de viaje para ti, ofreciendo un servicio cómodo, seguro, exclusivo y personalizado.                        
                        <br>
                        Te espera una nueva forma de explorar Perú, llena de oportunidades emocionantes. ¿A qué esperas? ¡Sueña, viaja, explora, descubre y sumérgete en momentos inolvidables en la Tierra de los Incas!
                    </span>
                    <div class="callout callout-default">
                        <em>
                            Deja de darle tantas vueltas a tu próximo viaje y empieza a recorrer el Perú. Elige y reserva, desde la comodidad de tu hogar sin ningún costo adicional, el paquete turístico de tu preferencia. Y recorre con nosotros los más increíbles.
                            <b>Lugares Turísticos de Perú.</b>
                        </em> 
                    </div>
                </div>
            </div>
            
        </div>

        
        <!-- <div class="card item-servicios">
            <img src="..." class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->

        
    </div>
    <div id="productos">
        <!-- Contenido de la sección Productos -->
    </div>
    <div id="acerca-de">
        <!-- Contenido de la sección Acerca de -->
    </div>
    <div id="contacto">
        <!-- Contenido de la sección Contacto -->
    </div>            
</div>