<div>
    
    <div class="contenedor">
        <h1>Dashboard</h1>
        <button id="exportPdf" class="btn btn-success">Exportar a PDF</button>
    </div>
    <br>
    <mat-divider></mat-divider>

    <div style="padding-left: 3%; padding-right: 3%;">
        <div class="contenedor2" style="padding-top: 16px;">
            <div class="card text-white" style="width: 300px; background-color: #ffb848;">
                <div class="card-body d-flex align-items-center">
                <div class="me-5">
                    <mat-icon class="icon-display">group_add</mat-icon>
                </div>                    
                <div>                        
                    <h5 class="card-title">Personas</h5>
                    <h2>1234+</h2>
                </div>
                </div>
            </div>
        
            
            <div class="card text-white" style="width: 300px; background-color: #10a062;">
                <div class="card-body d-flex align-items-center">
                <div class="me-5">
                    <mat-icon class="icon-display">group_add</mat-icon>
                </div>                    
                <div>                        
                    <h5 class="card-title">Personas</h5>
                    <h2>1234+</h2>
                </div>
                </div> 
            </div>
    
            <div class="card text-white" style="width: 300px; background-color: #852b99;">
                <div class="card-body d-flex align-items-center">
                <div class="me-5">
                    <mat-icon class="icon-display">group_add</mat-icon>
                </div>                    
                <div>                        
                    <h5 class="card-title">Personas</h5>
                    <h2>1234+</h2>
                </div>
                </div>
            </div>
        
            
            <div class="card text-white" style="width: 300px; background-color: #27a9e3;">
                <div class="card-body d-flex align-items-center">
                <div class="me-5">
                    <mat-icon class="icon-display">group_add</mat-icon>
                </div>                    
                <div>                        
                    <h5 class="card-title">Personas</h5>
                    <h2>1234+</h2>
                </div>
                </div> 
            </div>
        </div>
        
    
        <div class="contenedor">
            <mat-card class="chart-container">
                <div class="contCard">
                    <h3>CANTIDAD DE LINEAS POR ZONA</h3>
                </div>
                
                <canvas baseChart
                    [data]="pieChartData"
                    [type]="pieChartType"
                    [options]="pieChartOptions">
                </canvas>
            </mat-card>
    
            <mat-card class="chart-container">
                <div class="contCard">
                    <h3>CANTIDAD DE LINEAS POR ZONA</h3>
                </div>
                
                <canvas baseChart
                    [data]="pieChartData2"
                    [type]="pieChartType"
                    [options]="pieChartOptions">
                </canvas>
            </mat-card>
    
            <mat-card class="chart-container-bar">
                <div class="contCard">
                    <h3>CANTIDAD DE LINEAS POR ZONA</h3>
                </div>
                
                <canvas baseChart
                        [data]="barChartDataBar"
                        [type]="barChartTypeBar"
                        [options]="barChartOptionsBar">
                </canvas>
            </mat-card>
    
        </div>
    </div>
</div>