.sidenav-container {
    height: 100%;
    width: 100%;
  }
  
  mat-sidenav {
    width: 250px;
  }
  
  
  span {
    margin-top: 4px;
  }
  
  mat-icon {
    margin-right: 10px;
  }

  .active-link {
    background-color: #3D5A80; 
    color: #fff;
    border-end-end-radius: 25px;
    border-start-end-radius: 25px;
  }



  